{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.musician.list'|trans }}{% endblock %}

{% block body %}
    <main class="adminItemIndex container-lg">
        <h1>{{ 'admin.musician.list'|trans }}</h1>
        <div class="d-flex justify-content-end gap-2  mb-2">
            <a class="btn btn-primary" href="{{ path('admin_musician_new') }}"><i class="bi bi-plus-circle"></i> {{ 'admin.musician.add'|trans }}</a>
            <a class="btn btn-info" href="{{ path('admin_board') }}">{{ 'action.admin_home'|trans }}</a>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>{{ 'admin.table.name'|trans }}</th>
                <th>{{ 'admin.table.first_name'|trans }}</th>
                <th>{{ 'admin.table.email'|trans }}</th>
                <th>{{ 'admin.table.phone'|trans }}</th>
                <th>{{ 'admin.table.active'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for musician in musicians %}
                <tr>
                    <td class="fw-bold">{{ musician.lastname }}</td>
                    <td>{{ musician.firstname }}</td>
                    <td>{{ musician.email }}</td>
                    <td>{{ musician.phone }}</td>
                    <td>{{ musician.isActive ? 'boolean.yes'|trans : 'boolean.no'|trans }}</td>
                    <td class="d-flex flex-row">
                        <a class="btn btn-warning" href="{{ path('admin_musician_edit', {'id': musician.id}) }}">{{ 'action.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'admin.musician.none'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>
{% endblock %}
