{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.user.invite'|trans }}{% endblock %}

{% block body %}
    <main class="adminForms container-md">

        <h1>{{ 'admin.user.invite'|trans }}</h1>

        {{ include('admin/user/_form.html.twig') }}

        <a href="{{ path('admin_user_index') }}">{{ 'action.back_to_list'|trans }}</a>
    </main>
{% endblock %}
