{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.event.edit'|trans({'name': event.name}) }}{% endblock %}

{% block body %}
    <main class="adminForms container-lg">
        <h1>{{ 'admin.event.edit'|trans({'name': event.name}) }}</h1>

        {{ include('admin/event/_form.html.twig', {'button_label': 'action.save'|trans}) }}

        <div class="d-flex justify-content-start">
            <a class="btn btn-primary me-2" href="{{ path('admin_event_index') }}">{{ 'action.back_to_list'|trans }}</a>
            {{ include('admin/event/_delete_form.html.twig') }}
        </div>
    </main>
{% endblock %}
