{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.event.list'|trans }}{% endblock %}

{% block body %}
    <main class="adminForms container-md">
        <h1>{{ 'admin.event.list'|trans }}</h1>
        <div class="d-flex justify-content-end gap-2  mb-2">
            <a class="btn btn-primary" href="{{ path('admin_event_new') }}"><i class="bi bi-plus-circle"></i> {{ 'admin.event.add'|trans }}</a>
            <a class="btn btn-info" href="{{ path('admin_board') }}">{{ 'action.admin_home'|trans }}</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'admin.table.name'|trans }}</th>
                <th>{{ 'admin.table.groups'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>
                        {% for band in event.bands %}
                            {{ band.name }}{{ loop.last ? '' : ',' }}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('admin_event_edit', {'id': event.id}) }}">{{ 'action.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'admin.event.none'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
