{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.event.create'|trans }}{% endblock %}

{% block body %}

<main class="adminForms container-md">
    <h1 class="text-center"><span class="text-primary">{{ 'admin.event.create'|trans }}</span></h1>

    {{ include('admin/event/_form.html.twig') }}

    <div class="mt-2">
        <a class="btn btn-primary me-1" href="{{ path('admin_event_index') }}">{{ 'action.back_to_list'|trans }}</a>
    </div>
</main>
{% endblock %}
