{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'admin.association.title'|trans }}{% endblock %}

{% block body %}
    <main class="adminForms container-lg py-4">
        <h1>{{ 'admin.association.title'|trans }}</h1>

        <div class="d-flex justify-content-end gap-2 mb-2">
            <a class="btn btn-info" href="{{ path('admin_board') }}">{{ 'action.admin_home'|trans }}</a>
        </div>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">{{ 'action.save'|trans }}</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
