<section id="contact">
    <h2 class="h1"><mark>Nous contacter</mark></h2>
    {{ form_start(contactForm) }}
    <div>
        {{ form_row(contactForm.name) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.phone) }}
    </div>
    <div>
        {{ form_end(contactForm) }}
    </div>
</section>