<h1>{{ 'reset_password.email_greeting'|trans }}</h1>

<p>{{ 'reset_password.email_intro'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'reset_password.email_expiration'|trans({'expires': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}</p>

<p>{{ 'reset_password.email_thanks'|trans }}</p>
