<div class="searchResultForm">
    {{ form_start(searchBar, {'attr': {'class': 'd-flex flex-column'} }) }}


    <div class="d-flex justify-content-center">
        {{ form_widget(searchBar.query) }}
        <button type="submit"><i class="bi bi-search"></i></button>
    </div>

    <div class="d-flex justify-content-between">
        {{ form_row(searchBar.events, {'row_attr':{'class':'events'}}) }}
        {{ form_row(searchBar.musicStyles, {'row_attr':{'class':'musicStyles'}}) }}

    </div>
    {{ form_end(searchBar) }}
</div>