{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ band.name }} :{% endblock %}

{% block body %}
    <main class="showBand container-fluid container-lg">
        <section class="bandTitle d-flex flex-column justify-content-center align-items-center">
            <h1>{{ band.name|upper }}{% if app.user %}<a href="{{ path('admin_band_edit', {'id': band.id}) }}"><i
                            class="text-primary bi bi-pen-fill"></i></a> {% endif %}
            </h1>
            <p>
                {% for event in band.events %}
                    {{ event.name|capitalize }}{{ loop.last ? "" : " ," }}
                {% endfor %}
            </p>
            <h2 class="h3 text-primary ">{{ band.tagline }}</h2>
        </section>
        <div class=allInfosWrapper>
            <section class="infos">
                <div id="bandCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="{{ swiperTimer }}">
                            <img src="{{ vich_uploader_asset(band)|imagine_filter('swipper_filter') ?: "https://picsum.photos/1500/1000?random=2" }}"
                                 class="d-block w-100"
                                 alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="{{ swiperTimer }}">
                            <img src="https://picsum.photos/1500/1000?random=2" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="{{ swiperTimer }}">
                            <img src="https://picsum.photos/1500/1000?random=3" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="description">
                    <p>{{ band.description|raw }}</p>
                </div>
            </section>
            <div class="moreInfos">
                <section class="concerts">
                    <h1>
                        <mark>Concerts</mark>
                    </h1>
                    <ul>
                        {% for concert in band.concerts|sort((a, b) => date(a.date) <=> date(b.date)) %}
                            <li class="{{ date(concert.date) <= date() ? "pastConcert" : "" }}">{{ concert.date|date("d/m/Y") }}
                                - {{ concert.address }}</li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="links">
                    <h1>
                        <mark class="w-25">Liens</mark>
                    </h1>
                    <div class="videos">
                        {% for media in band.medias|filter(mediaType.value)%}
                            {% if media.mediaType.TypeName.value == "Youtube" %}
                                {% include 'band/_youtube.html.twig' %}
                            {% endif %}
                        {% endfor %}
                        {% for media in band.medias %}
                            {% if media.mediaType.TypeName.value == "Soundcloud" %}
                                {% include 'band/_soundclound.html.twig' %}
                            {% endif %}
                        {% endfor %}

                    </div>


                </section>

            </div>
        </div>
        {% include 'home/_homeContact.html.twig' %}

    </main>
{% endblock %}
