{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ band.name }} :{% endblock %}

{% block body %}
    <main class="showBand container-fluid container-lg">
        <section class="bandTitle d-flex flex-column justify-content-center align-items-center">
            <h1>{{ band.name|upper }}{% if app.user %}<a href="{{ path('admin_band_edit', {'id': band.id}) }}"><i
                            class="text-primary bi bi-pen-fill"></i></a> {% endif %}
            </h1>
            <p>
                {% for event in band.events %}
                    {{ event.name|capitalize }}{{ loop.last ? "" : " ," }}
                {% endfor %}
            </p>
            <h2 class="h3 text-primary ">{{ band.tagline }}</h2>
        </section>

        <div class=allInfosWrapper>
            <section class="infos">

                {% include 'band/_bandCarousel.html.twig' %}

                <div class="description">
                    <p>{{ band.description|raw }}</p>
                </div>

                {{ dump(band.medias|filter(v => v.mediaType in linksType)|length) }}

                {% if band.medias|filter(v => v.mediaType in linksType)|length > 0 %}
                <div>
                    Nous trouver en ligne :
                    <ul>
                    {%  for webLink in band.medias|filter(v => v.mediaType in linksType) %}
                        <li class="d-flex justify-content-between">
                            <span>
                            <i class="{{ mediaIcons[webLink.mediaType.name] }}"></i> - <a href="{{ webLink.link }}" target="_blank">{{ webLink.link }}</a>
                            </span>
                            <div>{% include 'admin/band/_mediaInclude/_deleteMedia_form.html.twig' with {media: webLink} %}</div>
                        </li>
                        {%  endfor %}
                    </ul>
                </div>
                {%  endif %}
            </section>

            <div class="moreInfos">
                <section class="concerts">
                    <h1>
                        <mark>Concerts</mark>
                    </h1>
                    <ul>
                        {% for concert in band.concerts|sort((a, b) => date(a.date) <=> date(b.date)) %}
                            <li class="{{ date(concert.date) <= date() ? "pastConcert" : "" }}">{{ concert.date|date("d/m/Y") }}
                                - {{ concert.address }}</li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="links">
                    <h1>
                        <mark class="w-25">Liens</mark>
                    </h1>
                    <div class="videos">
                        {% for media in band.medias|filter(v => v.mediaType.value == 'Youtube') %}
                            {% include 'band/_youtube.html.twig' %}
                        {% endfor %}
                        {% for media in band.medias|filter(v => v.mediaType.value == 'Soundcloud') %}
                            {% include 'band/_soundclound.html.twig' %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>

        {% include 'home/_homeContact.html.twig' %}

    </main>
{% endblock %}
