<h1>{{ 'email.contact.greeting'|trans({'firstname': user.firstname|default('')}) }}</h1>

<p>{{ 'email.contact.intro'|trans }}</p>
<ul>
    <li>
        {{ dataMessage.name }}
    </li>
    <li>
        {{ dataMessage.phone }}
    </li>
    <li>
        {{ dataMessage.email }}
    </li>
</ul>

{% if band is defined %}
<p>{{ 'email.contact.subject_band'|trans({'name': band.name}) }}</p>
{% endif %}

{{ 'email.contact.message'|trans }}

{{ dataMessage.message|raw }}
