<h1>Bonjour {{ user.firstname|default('') }}</h1>

<p> Vous avez reçu un message de l'utilisateur :</p>
<ul>
    <li>
        {{ dataMessage.name }}
    </li>
    <li>
        {{ dataMessage.phone }}
    </li>
    <li>
        {{ dataMessage.email }}
    </li>
</ul>

{% if band is defined %}
<p>Au sujet du groupe : {{ band.name }}</p>
{% endif %}

Message :

{{ dataMessage.message|raw }}