<h1>Bonjour {{ admin.firstname }}</h1>

<p> Vous avez reçu un message de l'utilisateur suivant :</p>
<ul>
    <li>
        {{ dataMessage.name }}
    </li>
    <li>
        {{ dataMessage.phone }}
    </li>
    <li>
        {{ dataMessage.email }}
    </li>
</ul>

{{ dataMessage.message }}