{% extends 'base.html.twig' %}

{% block body %}
    <main class="musicianIndex container-fluid container-lg">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1>{{ 'page.musicians'|trans }}</h1>
        </div>
        <section class="musician-list list-unstyled text-decoration-none">

            {% for musician in musicians %}
                <article class="{{ musician.url ? 'hasLink' : '' }}">
                    <div class="musicianPhoto">
                        {% set musicianPhoto = vich_uploader_asset(musician) %}
                        {% set musicianPhotoSrc = musicianPhoto ? musicianPhoto|imagine_filter('square_band') : asset('build/images/avatar.png') %}

                        {% if musician.url %}
                            <a href="{{ musician.url }}" target="_blank" rel="noopener noreferrer" class="musicianPhotoLink d-block rounded-circle overflow-hidden">
                                <img alt="Image de {{ musician.lastname|upper }} {{ musician.firstname|capitalize }}"
                                     src="{{ musicianPhotoSrc }}"
                                     class="d-block w-100">
                            </a>
                        {% else %}
                            <img alt="Image de {{ musician.lastname|upper }} {{ musician.firstname|capitalize }}"
                                 src="{{ musicianPhotoSrc }}"
                                 class="d-block w-100">
                        {% endif %}
                    </div>
                    <footer class="musicianInfo text-center">
                        <p class="musicianName mb-0">
                            <span class="text-primary">{{ musician.lastname|upper }}</span> {{ musician.firstname|capitalize }}
                        </p>
                        {% if musician.url %}
                            <a href="{{ musician.url }}"
                               target="_blank"
                               rel="noopener noreferrer"
                               class="musicianWebsite">
                                {{ 'musician.website'|trans }}
                            </a>
                        {% endif %}
                    </footer>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
