{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.isActive) }}
{{ form_row(form.flashInformation) }}
{{ form_row(form.tagline) }}
{{ form_row(form.description) }}
{{ form_row(form.pictureFile) }}
{{ form_row(form.musicStyles) }}
{{ form_row(form.events) }}
<button class="btn btn-success m-1 ms-0">Valider</button>
{{ form_end(form) }}
