{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.isActive) }}
{{ form_row(form.flashInformation) }}
{{ form_row(form.tagline) }}
{{ form_row(form.pictureFile) }}

{% if vich_uploader_asset(band) %}
<img src="{{ vich_uploader_asset(band) }}" alt="Photo du groupe">
{% else %}
<p>Pas de photos pour le moment</p>
{% endif %}

{{ form_row(form.musicStyles) }}


<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
