{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.isActive) }}
{{ form_row(form.flashInformation) }}
{{ form_row(form.tagline) }}
{{ form_row(form.description) }}
{{ form_row(form.pictureFile) }}
{{ form_row(form.musicStyles) }}

<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
