{% extends 'base.html.twig' %}

{% block title %}Concert index{% endblock %}

{% block body %}
    <h1>Concert index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>ClientName</th>
            <th>Address</th>
            <th>ZipCode</th>
            <th>City</th>
            <th>Date</th>
            <th>OtherInformations</th>
            <th>IsConfirmed</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td>{{ concert.id }}</td>
                <td>{{ concert.clientName }}</td>
                <td>{{ concert.address }}</td>
                <td>{{ concert.zipCode }}</td>
                <td>{{ concert.city }}</td>
                <td>{{ concert.date ? concert.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concert.otherInformations }}</td>
                <td>{{ concert.isConfirmed ? 'Yes' : 'No' }}</td>
{#                <td>
                    <a href="{{ path('app_concert_edit', {'id': concert.id}) }}">edit</a>
                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('app_concert_new') }}">Create new</a>#}
{% endblock %}
