{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.band.concerts_for'|trans({'name': band.name}) }}{% endblock %}

{% block body %}
    <main class="adminItemIndex container-lg mt-2">
        <h1>{{ 'admin.band.concerts_for'|trans({'name': band.name}) }}</h1>
        <div class="d-flex justify-content-end gap-2  mb-2">
            <a class="btn btn-primary" href="{{ path('admin_concert_new') }}">{{ 'admin.concert.add'|trans }}</a>
            <a class="btn btn-info" href="{{ path('admin_board') }}">{{ 'action.admin_home'|trans }}</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'admin.table.client_name'|trans }}</th>
                <th>{{ 'admin.table.address'|trans }}</th>
                <th>{{ 'admin.table.zip_code'|trans }}</th>
                <th>{{ 'admin.table.city'|trans }}</th>
                <th>{{ 'admin.table.date'|trans }}</th>
                <th>{{ 'admin.table.other_informations'|trans }}</th>
                <th>{{ 'admin.table.confirmed'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.clientName }}</td>
                    <td>{{ concert.address }}</td>
                    <td>{{ concert.zipCode }}</td>
                    <td>{{ concert.city }}</td>
                    <td>{{ concert.date ? concert.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ concert.otherInformations }}</td>
                    <td>{{ concert.isConfirmed ? 'boolean.yes'|trans : 'boolean.no'|trans }}</td>
                    <td class="d-flex flex-row">
                        <a class="btn btn-warning" href="{{ path('admin_concert_edit', {'id': concert.id}) }}">{{ 'action.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">{{ 'admin.band.no_concerts'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
