{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Admin {{ band.name }} {% endblock %}

{% block body %}
    <main class="adminBandEdit container-md">

        <h1 class="text-center"><span class="text-primary">{{ band.name }}</span> - Administration du groupe </h1>

        {{ include('/admin/band/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex flex-row justify-content-start">
            <a class="btn btn-primary me-1" href="{{ path('admin_band_index') }}">retour aux groupes </a>
            {{ include('/admin/band/_delete_form.html.twig') }}
        </div>
    </main>
{% endblock %}
