{% extends 'base.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}
    <main class="adminItemIndex container-lg">

        <h1>Liste des groupes</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>actif ?</th>
                <th>Info Flash</th>
                <th>Accroche</th>
                <th>Slug</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for band in bands %}
                <tr>
                    <td>{{ band.name }}</td>
                    <td class="largeContent">{{ band.description }}</td>
                    <td>{{ band.isActive ? 'Yes' : 'No' }}</td>
                    <td class="largeContent">{{ band.flashInformation }}</td>
                    <td class="largeContent">{{ band.tagline }}</td>
                    <td>{{ band.slug }}</td>
                    <td class="d-flex flex-row">
                        <a class="btn btn-primary" href="{{ path('band_show', {'slug': band.slug}) }}" target="_blank">consulter</a>
                        <a class="btn btn-warning" href="{{ path('admin_band_edit', {'id': band.id}) }}">modifier</a>
                        <a class="btn btn-info" href="{{ path('admin_band_media', {'id': band.id}) }}">medias</a>
                        <a class="btn btn-secondary" href="{{ path('admin_band_concert', {'band': band.id}) }}">concerts</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('admin_band_new') }}">Ajouter un groupe</a>
    </main>
{% endblock %}
