{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.concert.edit'|trans }}{% endblock %}

{% block body %}
    <main class="adminForms container-md">

        <h1 class="text-center">{{ 'admin.concert.edit'|trans }}</h1>

        {{ include('admin/concert/_form.html.twig', {'button_label': 'action.validate'|trans}) }}


        <div class="d-flex flex-row justify-content-start">
        {{ include('admin/concert/_delete_form.html.twig') }}
        </div>
            <a class="btn btn-primary me-1 mt-2" href="{{ app.request.headers.get('referer') }}">{{ 'action.back_to_list'|trans }}</a>

    </main>
{% endblock %}
