{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.concert.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.concert.edit'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'admin.table.id'|trans }}</th>
                <td>{{ concert.id }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.client_name'|trans }}</th>
                <td>{{ concert.clientName }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.address'|trans }}</th>
                <td>{{ concert.address }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.zip_code'|trans }}</th>
                <td>{{ concert.zipCode }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.city'|trans }}</th>
                <td>{{ concert.city }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.date'|trans }}</th>
                <td>{{ concert.date ? concert.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.other_informations'|trans }}</th>
                <td>{{ concert.otherInformations }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.table.confirmed'|trans }}</th>
                <td>{{ concert.isConfirmed ? 'boolean.yes'|trans : 'boolean.no'|trans }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_concert_index') }}">{{ 'action.back_to_list'|trans }}</a>

    <a href="{{ path('admin_concert_edit', {'id': concert.id}) }}">{{ 'action.edit'|trans }}</a>

    {{ include('admin/concert/_delete_form.html.twig') }}
{% endblock %}
