{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.music_style.list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.music_style.list'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.table.id'|trans }}</th>
                <th>{{ 'admin.table.name'|trans }}</th>
                <th>{{ 'admin.table.slug'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for music_style in music_styles %}
            <tr>
                <td>{{ music_style.id }}</td>
                <td>{{ music_style.name }}</td>
                <td>{{ music_style.slug }}</td>
                <td>
                    <a href="{{ path('admin_musicStyle_show', {'id': music_style.id}) }}">{{ 'action.consult'|trans }}</a>
                    <a href="{{ path('admin_musicStyle_edit', {'id': music_style.id}) }}">{{ 'action.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'admin.music_style.none'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_musician_new') }}">{{ 'admin.music_style.add'|trans }}</a>
{% endblock %}
