{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.music_style.create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.music_style.create'|trans }}</h1>

    {{ include('music_style_admin/_form.html.twig') }}

    <a href="{{ path('admin_musicStyle_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
